<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fire Simulation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- THIS JS IS USED TO TAKE SCREENSHOT -->
    <script type="text/javascript" src='/static/js/html2canvas.min.js' type='text/javascript'></script>
    <!-- THIS JS IS an AWESOME COLOR LIB -->
    <script type="text/javascript" src="/static/js/chroma.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBINKUFZugKXNT1ieZy315WFViufQUZvv4"
    async defer></script>
    <script type="text/javascript" src="/static/js/overlay_google_map.js"></script>
    <script type="text/javascript" src="/static/js/fire_2D_map.js"></script>

</head>
<body>

<div class="container">
    <div class="row">

      <div id='uploadfileDiv'>
        <h4 style="color:red">Please upload input files for fire simulation models</h4>
        <form action="/upload_process" method="post" enctype="multipart/form-data">
            <p>
                <label for="fixedFuelID" >Fixed fuel 
                    <input type="file" name="file1" id='fixedFuelID' > 
                </label>
            </p>
            <p>
                <label for="onFireCellID" >On fire cell
                    <input type="file" name="file2" id='onFireCellID' > 
                </label>
            </p>
            <p>
                <input type="submit" value="Upload">
            </p>

        </form>
      </div>

    </div>

</div>

</body>
</html>