<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fire Simulation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/js/existing_data.js"></script>
<style>
#uploadfileDiv {
    background-color: #ffe6e6;
    /*padding: 0 90px;*/
}

#existingDataID {
    background-color: #e6f0ff;
    /*padding: 0 90px;*/
}


</style>

</head>
<body>

<div class="container">
    <div class="row">

        <div id='uploadfileDiv' class="col-xs-6">
            <h4>Please upload input files for fire simulation models</h4>
            <form action="/upload_process" method="post" enctype="multipart/form-data">
                <p>
                    <label for="fixedFuelID" >Fixed fuel 
                        <input type="file" name="file1" id='fixedFuelID' > 
                    </label>
                </p>
                <p>
                    <label for="onFireCellID" >On fire cell
                        <input type="file" name="file2" id='onFireCellID' > 
                    </label>
                </p>
                <p>
                    <input type="submit" value="Upload" class="btn btn-primary">
                </p>

            </form>
      

        </div>

        <div id='existingDataID' class="col-xs-6">
            <h4>Here are available datasets</h4>
            <p>
                <select class="form-control" id='existingSelectBoxID'>
                    {% for item in dataset_name_list %}
                        <option>{{item}}</option>
                    {% endfor %}
                </select>
            </p>

            <p>
                <button type="button" class="btn btn-primary" id='confirmButtonID'>Comfirm</button>
            </p>

        </div>
    </div>

</div>

</body>
</html>